/*Adicionar fonte externa*/
@font-face {
    font-family: "Unbounded";
    src: url(../fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-semibold";
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/*Reset dos estilos pré definidos pelo navegador */
*{
    margin: 0;
    padding: 0;
}

/* Configurações do site */
body{
    background-color: #0E1014;
    color: #ffffff;
}

header img{
    width: 280px;
    height: 75px;
    display: block;
    margin: 15px 0 40px 180px;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins-regular", sans-serif;
    font-size: 22px;
    text-align: center;
    width: 792px;
    margin: 24px auto 40px auto;
}

a{
    color: #ffffff;
    font-family: "Poppins-semibold", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 0 auto;
}

a:hover{ 
    background-color: #8233E8;
}

img{
    display: block;
    width: 792;
    height: 446;
    margin: 40px auto 0 auto;
}

/* Adaptação para celular */
@media (max-width: 440px){
    
    header img{
        width: 224px;
        height: 60px;
        margin: 10px 0 30px 16px;
    }

    h1{
        font-size: 40px;
        width: 400px;
    }

    p{
        font-size: 18px;
        width: 400px;
    }

    a{
        font-size: 18px;
        width: 251px;
    }

    img{
        width: 396px;
        height: 223px;
    }

}